.client_form {
    align-items: center;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 115px;
}

.form_line {
    width: 355px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0px auto;
}

.form_inputs {
    display: grid;
    gap: 10px;
    margin-bottom: 10px;
    justify-content: center;
 }

.input {
    background: #e9eaef;
    border-radius: 10px;
    border: none;
    color: rgba(51, 51, 51, 0.5);
    padding-left: 20px;
    box-sizing: border-box;
    height: 60px;
    width: 420px;
    font-size: 16px;
}

.message_input {
    height: 120px;
    padding-top: 20px;
    resize: none;
}

.form_button {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 167%;
    text-align: center;
    color: #FFFFFF;
    border-radius: 10px;
    text-transform: uppercase;
    height: 60px;
    background: #215732;
    border: none;
    transition: filter 200ms linear, transform 200ms linear;
}

.form_button:hover {
cursor: pointer;
    transform: scale(1.15);
}