.schedule{
    padding-top: 30px;
    min-height: 550px;
    background-image: url(../img/schedule_bg.jpg);
    background-size: cover;
    width: 100%;
    box-shadow: 0 0 5px 7px #989793a1;
}
.schedule_title{
    color: white;
}

.schedule_line{
    width: 245px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.schedule_container{
    display: grid;
    padding-top: 20px;
}

.timetable{
    display: flex;
    grid-gap: 45px;
    justify-content: center;
}

.days{
    width: 25%;
    height: 105%;
    border-radius: 19px;
    background: rgba(255, 255, 255, 0.75);
}

.tt_title{
    display: flex;
    flex-direction: column;
    padding: 4% 2%;
    color: #386C5F;
    text-align: center;
    font-size: 150%;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.site_table{
    border: none;
    width: 100%;
    empty-cells: show;
}

tr {
    border: 6px solid transparent;
    margin: 1% 2%;
    padding: 4% 1%;
}

.space {
    padding: 1.5rem;
}

.time{
    text-align: center;
    color: #112734;
    font-size: 130%;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    vertical-align:top;
    padding: 1% 0%;
}

.lesson{
    text-align: left;
    color: #112734;
    font-size: 115%;
    font-style: normal;
    line-height: normal;
    padding: 1% 4%;
}

@media screen and (max-width: 1049px) {
     .days {
       width: 31%;
     }
 }

  @media screen and (max-width: 899px) {
      .days {
             width: 36%;
           }
  }
  @media screen and (max-width: 699px) {
      .days {
             width: 43%;
           }
  }
